@media (min-width:$screen-md-max) {
  .animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

  @-webkit-keyframes fadeInDown {
    from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
  }

  @keyframes fadeInDown {
    from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
  }

  .fadeInDown { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }

  @-webkit-keyframes fadeInLeft {
    from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
  }

  @keyframes fadeInLeft {
    from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
  }

  .fadeInLeft { -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; }

  @-webkit-keyframes fadeInLeftBig {
    from { opacity: 0; -webkit-transform: translate3d(-2000px, 0, 0); transform: translate3d(-2000px, 0, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
  }

  @keyframes fadeInLeftBig {
    from { opacity: 0; -webkit-transform: translate3d(-2000px, 0, 0); transform: translate3d(-2000px, 0, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
  }

  .fadeInLeftBig { -webkit-animation-name: fadeInLeftBig; animation-name: fadeInLeftBig; }

  @-webkit-keyframes fadeInRight {
    from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
  }

  @keyframes fadeInRight {
    from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
  }

  .fadeInRight { -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }

  @-webkit-keyframes fadeInRightBig {
    from { opacity: 0; -webkit-transform: translate3d(2000px, 0, 0); transform: translate3d(2000px, 0, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
  }

  @keyframes fadeInRightBig {
    from { opacity: 0; -webkit-transform: translate3d(2000px, 0, 0); transform: translate3d(2000px, 0, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
  }
  .fadeInRightBig { -webkit-animation-name: fadeInRightBig; animation-name: fadeInRightBig; }

  @-webkit-keyframes fadeInUp {
    from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }

    100% { opacity: 1; -webkit-transform: none; transform: none; }
  }

  @keyframes fadeInUp {
    from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
  }
  .fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }

  @-webkit-keyframes fadeInUpBig {
    from { opacity: 0; -webkit-transform: translate3d(0, 2000px, 0); transform: translate3d(0, 2000px, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
  }

  @keyframes fadeInUpBig {
    from { opacity: 0; -webkit-transform: translate3d(0, 2000px, 0); transform: translate3d(0, 2000px, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
  }

  .fadeInUpBig { -webkit-animation-name: fadeInUpBig; animation-name: fadeInUpBig; }

}