$color1:$dark-bg;
$cloudColor:#ecf0f1;
.container svg { display: block;}
section.separator { position: relative; padding: 4em 0 ; background: $color1; color: #fff;}
section.separator h2 { margin: 0; padding: 0;  font-weight: 400;  }
.text:first-child { text-align: right; }
.text:nth-child(2) { text-align: left; }
.col-2 .column { width: 49%; }
.col-3 .column { padding: 0 1%; width: 33%; text-align: center;}
.col-3 .column p { padding: 1.4em; }
.column { display: inline-block; vertical-align: top; }
.color { background: darken($color1, 7%); }
.section-light, .section-white { padding: 50px 0 50px 0; background: #FFF;
  h2, h3, h4, h5 {color:$impact-orange;}
}
.section-light {background:#fff}
/*** Individual section styles and separators ***/

/* Common style for pseudo-elements */
section::before, section::after { position: absolute; content: ''; pointer-events: none;}

//@media screen and (max-width: 54em) {
//  .column { display: block; width: 100% !important; }
//  .text:first-child, .text:nth-child(2) { text-align: center; }
//  .icon { margin: 0 auto; }
//  .col-2 .column:first-child .icon { margin: 0 auto 50px; }
//  .col-2 .column:nth-child(2) .icon { margin: 50px auto 0; }
//}

