.content-info { background-color:$dark-bg; font-size: 13px; color:#eee;
  h3 {font-size: 20px; color:#666;}
  footer {color:$impact-orange;}
  ul {@include list-unstyled();}
  .widget_nav_menu {@include make-sm-column(6); @include make-md-column(7);
    ul {@extend .list-inline;}
  }
  .gform_wrapper {margin-top:0;}
  .gform_widget {@include make-sm-column(6); @include make-md-column(5);
    #field_3_2 {float:left; width:56%}
    .gform_footer {clear:none;}
    #input_3_2 {background: lighten($dark-bg,10%); color:#f0f0f0; border-color:#666;}
  }
}
.copyright {
  p, ul {margin-bottom: 0}
  .copyright-symbol { font-size:20px;}
}
#cookie-notice {background-color: rgba(0,0,0,0.8) !important;}
#cookie-notice { display: none; position: fixed; min-width: 100%; height: auto; z-index: 100000; font-size: 12px; line-height: 18px; left: 0; text-align: center; }
.cookie-notice-container { padding: 10px; }
.cn-top { top: 0; }
.cn-bottom { bottom: 0; }
#cookie-notice .button { margin-left: 10px; }

// ------------------------------------ Media Queries -------------------------------------

@media (max-width: $screen-xs-max) {



}