.topbar, .copyright {background: lighten($dark-bg,10%); color:#ccc; padding:4px 0;
  a {color:#ccc}
}
.topbar-icon {font-size:20px;}
.banner { /*border-bottom: 1px solid #4a4244; background: $dark-bg;*/ background:#f0f0f0; box-shadow: 0 0 2px #999;  margin-bottom: 0; }
#sec-title {padding-top:0; padding-bottom: 30px;}
.breadcrumbs {font-size: 13px; color:#ccc;position: relative; margin-bottom: 0;
  a {color:#F0F0F0;
    &:hover {color: $brand-primary}
  }
}
.breadnotitle {position: relative; height:25px; margin-bottom: -25px;z-index:2}
#sep-title {padding:50px 0 15px 0; background: #ddd; position: relative; margin-top:-50px;
  &:before {content:""; position: absolute; left:0; top:0; right:0; width:100%; height:100%; background:rgba(0,0,0, 0.4); z-index: 0;}
}
.page-header {text-align: center;z-index: 20; position: relative;font-size: 30px; text-transform: uppercase; border:none; color:#444;margin:0; padding:0; text-shadow:1px 1px 1px #FFF;
  @media (max-width:$screen-sm-min){
    h1 {margin:0; padding:10px 0; font-size:30px;}

  }
 
}
.navbar-brand {margin-bottom: 0; padding:5px; margin-left:10px;
  img {height: 80px;transition: all 0.3s;}
}
.navbar-toggle {background: #3F474C; }
.menu-search .dropdown-menu {min-width: 220px;}
.scroll-to-fixed-fixed { min-height:60px; transition: all 0.3s;
  .navbar-brand {height:60px;}
  img {max-height:50px;}
  .navbar-nav {
    > li > a {padding-bottom: 19px; padding-top: 19px;}
    li.cere-o-estimare a {margin-top:13px; padding-top:5px; padding-bottom: 5px;}
  }
  .navbar-toggle {margin: 15px 15px 15px 0}

}
.dropdown-menu {}
.dropdown-submenu { position: relative; }
.dropdown-submenu>.dropdown-menu { top: 0; left: 100%; position: relative; }
.dropdown-submenu>.dropdown-menu { display: block; box-shadow: none; border-radius: 0; border:none;
  li {position: relative; padding-left:25px;}
  li:before {content:""; position:absolute; width:5px; height:5px; background: #FFF; left:25px; top:50%; margin-top:-2px;}
}

.dropdown-submenu>a:after { display: block; content: " "; float: right; width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 5px 0 5px 5px; border-left-color: #ccc; margin-top: 5px; margin-right: -10px; }

.dropdown-submenu:hover>a:after { border-left-color: #fff; }
.dropdown-submenu.pull-left { float: none; }
.dropdown-submenu.pull-left>.dropdown-menu { left: -100%; margin-left: 10px;}

.navbar-nav {
  > li.cere-o-estimare {
    a {@extend .btn; @extend .btn-primary; @extend .btn-sm; margin-top:29px; font-weight:400; color:#FFF;
      &:hover, &:active {background-color:darken($impact-orange, 5%); color:#FFF;}
    }
  }
}
.topbar-address{font-size:14px; display:inline-block; text-align:center; margin:0 auto;}
.address-container, .social-container {padding:0;}

@media (min-width: $screen-md-min) {
  .topbar {font-size: 14px;}
  .topbar-icon {font-size: 14px}
  .dropdown-submenu>.dropdown-menu{ position: absolute; }
}

@media only screen and (max-width: $screen-md-min) {
  .nav > li {text-align: center}
.dropdown-menu {text-align: center;}

//Cere o estimmare button
.cere-o-estimare > a  { margin:0 auto; color:white !important; border-radius:4px; font-weight:400; width:50%; text-align: center;}

//Tobar styles
.topbar-list-address {float:left;} 
.topbar-list-scoial-icons {float:right;}
.topbar-list-address, .topbar-list-scoial-icons {}
.topbar-address {display:none;}
}