.wrap {position: relative; padding: 0 ; overflow: hidden}

/*************************
********* Contact Us CSS ******
**************************/
.gmap-area {
  .gmap {border: 10px solid #f6f5f0; border-radius: 50%; height: 300px; width: 315px; box-shadow: 0px 0px 3px 3px #e7e4dc; overflow: hidden; position: relative; margin: 0 auto;
    iframe { border-radius: 50%; height: 280px; width: 300px; }
  }
  .map-content {
    ul {list-style: none;}
    address h5{font-weight: 700; }
  }
  p {font-size: 16px;}
}
#contact-page {padding-top: 0;
  .contact-form .form-group label {color: #4E4E4E; font-size: 16px; font-weight: 300; }
  .contact-wrap {margin-top: 20px; }
}
.form-group .form-control {padding: 7px 12px; border-color:#f2f2f2; box-shadow: none; }
textarea#message{resize: none; padding: 10px; }


// ----------------------- cta section -------------------------------

.section-cta { background-color:$impact-orange; padding:30px 0; color:white; font-size:20px; text-transform: uppercase; text-align: center;
  p {padding:5px 0;}
  .bottom-cta-button {color:white; padding:5px 20px; border:1px solid white; display: block; width:220px; text-align: center; margin:0 auto 0 auto; transition:all .2s ease-in-out;
    &:hover {color:$impact-orange; background-color:white;}
  }


}
@media (min-width: $screen-lg-min) {

  .section-cta { font-size:25px;
    .bottom-cta-button {width:270px;}
    p {text-align: left; margin:0;}

  }

}

//--------------------- servicii-pages-section ------------------------------------

.servicii-page {

  .panel-body {
    h2{font-size:27px; margin-top:8px}

  }

}

// ------------------- section mini-servicii --------------------------------------

.mini-servicii {background-color:lighten($impact-text, 20%);
  .mini-servicii-ul{list-style-type: none; padding:0; margin:0;
    li{float:left; margin-right:20px; padding:10px 0;}
    a{padding:10px 0;}

  


  }


}

// Creare lamding page page =-----------------------------------------------------=
.section-creare-landing-page {background-color:#f5f5f5; text-align: center;}
.section-oferta{background-color:$dark-bg; color:white; text-align: center;}
.section-lucreaza-cu-noi {background-color:#f5f5f5; text-align: center;}
.folosire-landing-page {
  .ddd-website-img {padding:50px 0;}
  h2 {text-align: center; margin-bottom:20px;}
  p {font-size:14px; text-align: justify;}
  h4{ margin-bottom:0; margin-top:15px;
    &:before {content: "\f00c"; font-family: FontAwesome; color:$dark-bg; margin-right:5px;}
  }

}




// Despre noi page =-----------------------------------------------------=
.despre-noi {background-color:white;  }
.despre-section {
  h1, h2, h3 {margin-top:0}
  p {font-size:16px; margin:10px 0 0 0 ;  color:black; clear:both;}

}
.line {border-top:2px solid $impact-orange; display:inline-block; width:40px; float:left;}
.cine-suntem-section, .cum-lucram-section, .echipa-section {position: relative;text-shadow:1px 1px 1px #333;padding: 3em 0 3em 0;overflow: hidden;
  h1,h2,h3,h4 {color:white; position: relative;  }
  p{color:white;}
  a{color:white;}
  &:before {content:""; position: absolute; left:0; top:0; right:0; width:100%; height:100%; background:rgba(0,0,0, 0.5); z-index: 0;}
}


.cine-suntem-section{background:url('../images/cine-suntem.jpg'); background-size: cover; background-attachment: fixed; position: relative; padding-bottom: 40px;}
.abordare-section {box-shadow: 0 0 4px rgba(0,0,0,0.75); z-index:10;
  .abordare-img {}
}
.cum-lucram-section {background:url('../images/cum-lucram-section-bg.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;position: relative;
  h1{padding:15px 0;}
  .lucram-perks {display:table-cell; padding:25px; vertical-align: middle; text-align: center; min-height:300px; font-size:16px; color:white; }
}

.table-lucram {display:table; overflow: hidden; }


.cum-lucram-line {display:block; width:25%; border-top:3px solid $impact-orange; margin:10px auto; transition: all .2s ease-in-out;}
.lucram-perks:hover {
  .cum-lucram-line { width:30%;}
}
.servicii-section{box-shadow: 0 0 4px rgba(0,0,0,0.75);
  h1{margin:0 0 30px 0;}
  hr{width:200px;}
}
.servicii-container { text-align:center; padding:15px; position: relative;
  p {margin-top:30px;}
  &:before { font-family: FontAwesome; font-size: 30px; color:$impact-orange; position: absolute; top:5px; left:50%; margin-left:-13px;}
  
}

.i-design {
  &:before {content:"\f044";}
}
.i-dezvoltare {
  &:before {content: "\f121";}
}
.i-continut {
  &:before {content: "\f022";}
}
.i-testare {
  &:before {content: "\f080";}
}
.i-domeniu {
  &:before {content: "\f20e";}
}
.i-gazduire {
  &:before {content: "\f233";}
}

.i-securitate {
  &:before {content: "\f132";}
}
.i-administrare {
  &:before {content: "\f0ad";}
}

.echipa-section {box-shadow: 0 0 4px rgba(0,0,0,0.75); text-align: center;background:url('../images/cine-suntem.jpg'); background-size:cover; background-attachment: fixed;
  h4 {font-size: 22px; margin:0;}
  p {font-size: 12px; margin:0;}
  small{font-size:10px;}
}

.cta-container{text-align: center;}
.cta-button{width:250px; margin-top:20px; transition: all .2s linear;}
.cta-button:hover{width:200px;}

.contact-container {text-align: center; margin-top:50px;}

@media  (min-width: $screen-lg-min) {
  .border {border:none;}
  .pas-section{text-align: center;}
}


// Dezvoltare site web page ------------------------------------------------------------------------------------------------------
.web-design-responsive { background-color: #FFF;}
  .section-title{margin-bottom: 50px;
    h1{margin-top: 0;}
  }
  .st-service{ margin-bottom: 10px; color:$impact-text; @extend .clearfix;
    &:nth-of-type(2n+1) {clear:left;}
      h2{ font-size: 20px; margin-top: 0; margin-bottom: 0;}
      h2 i{ margin-right: 10px; transition: all .3s ease-in-out;}
      &:hover {
        i {transform: scale(1.5);}
      }
  }

.conditii {background-color:$dark-bg !important;
    p {color:white;}
}
.web-responsive-img {margin:0 auto;}
.ul-caracteristici {list-style-type: none; margin:0; padding: 0;
    li{text-align:justify; margin-bottom:15px; padding:5px 10px; border-radius:0 8px 0 8px;
      &:before {content:"\f00c"; font-family: "FontAwesome"; position:relative; display:inline; margin-right:10px;}
      &:nth-child(2n) {
        background: #db6f2b;
        background: -moz-linear-gradient(-45deg,  #db6f2b 0%, #fc8e3f 100%);
        background: -webkit-linear-gradient(-45deg,  #db6f2b 0%,#fc8e3f 100%);
        background: linear-gradient(135deg,  #db6f2b 0%,#fc8e3f 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db6f2b', endColorstr='#fc8e3f',GradientType=1 );
        color:white;
        box-shadow: 0 0 4px rgba(0,0,0,0.75);
      }
       &:nth-child(2n+1) {
        background: rgba(235,232,235,1);
        background: -moz-linear-gradient(left, rgba(235,232,235,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,232,235,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
        background: -webkit-linear-gradient(left, rgba(235,232,235,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
        background: -o-linear-gradient(left, rgba(235,232,235,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
        background: -ms-linear-gradient(left, rgba(235,232,235,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
        background: linear-gradient(to right, rgba(235,232,235,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe8eb', endColorstr='#ededed', GradientType=1 );
        box-shadow: 0 0 4px rgba(0,0,0,0.75);
       }
    }
}


// Dezvoltare site web page - Info graphic ------------------------------------------------
.section-info {* {transition:all .2s ease-in-out;}
  .step5-img{margin-top:60px;}
  .step4-img {height:210px; width:auto; }

}
@media (max-width: $screen-sm-min)  {

  .section-info { background: url('../images/infographic/info-bg.jpg') repeat-y center center #F0F0F0;
    .info-wrap {position: relative;}
    .info-line1{z-index:0;width:769px; height:221px; position:absolute; top:6%; left:30%; background: url('../images/infographic/line1.png');}
    .info-line2{z-index:0;width:709px; height:112px; position:absolute; top:20.39%; left:7.7%; background: url('../images/infographic/line2.png');}
    .info-line3{z-index:0;width:880px; height:221px; position:absolute; top:27%; left:7%; background: url('../images/infographic/line3.png') no-repeat; background-size: cover;}
    .info-line4{z-index:0;width:880px; height:221px; position:absolute; top:45%; left:7.5%; background: url('../images/infographic/line4.png') no-repeat; background-size: cover;}
    .info-line5{z-index:0;width:975px; height:254px; position:absolute; top:65.5%; left:7.3%; background: url('../images/infographic/line5.png') no-repeat; background-size: cover;}
    .pasul1 {margin-left:30px;}
    //.info-line1, .info-line2, .info-line3, .info-line4, .info-line5 { display:none; }
    .content-pasul1{text-align: justify;}
    .pasul2 {text-align: justify;}
    .pasul3, .pasul5 {
      p { text-align: justify; }
      h2 {text-align: left;}
    }
    .step1, .step2, .step3, .step4 {margin-bottom: 20px;}
    #numbering-one{margin:11px auto 11px auto !important;height:35px; width:35px; border-radius:50%; background-color: $impact-orange; color:white; text-align: center; line-height: 35px; font-size:25px; font-weight: bold;}
    .numbering{height:35px; width:35px; margin:22px auto 11px auto; border-radius:50%; background-color: $impact-orange; color:white; text-align: center; line-height: 35px; font-size:25px; font-weight: bold;}
    
  }

}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-min)  {

    .section-info { background: url('../images/infographic/info-bg.jpg') repeat-y center center #F0F0F0;
    .info-wrap {position: relative;}
    .small-line1{z-index:5;width:3px; height:50px; position:absolute; top:11.05%; left:32.5%; background: url('../images/infographic/small-line.png')no-repeat; background-size:contain; }
    .small-line1-1{z-index:5;width:3px; height:45px; position:absolute; top:13.9%; left:32.5%; background: url('../images/infographic/small-line.png')no-repeat; background-size:contain; }
    .info-line1{z-index:5;width:490px; height:300px; position:absolute; top:16.7%; left:32.5%; background: url('../images/infographic/line1.png') no-repeat; background-size:contain; }
    .info-line2{z-index:0;width:396px; height:112px; position:absolute; top:25.1%; left:6.6%; background: url('../images/infographic/line2.png') no-repeat; background-size:contain; }
    .info-line3{z-index:0;width:490px; height:221px; position:absolute; top:34.51%; left:3.9%; background: url('../images/infographic/line3.png') no-repeat; background-size:contain; background-position: -21px 0; transform: rotate(180deg); }
    .info-line3-1{z-index:0;width:490px; height:221px; position:absolute; top:37.96%; left:28.9%; background: url('../images/infographic/line3.png') no-repeat; background-size:contain; background-position: -21px 0;}
    .small-line3-2{z-index:0;width:3px; height:45px; position:absolute; top:36%; left:6.6%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    .small-line3-3{z-index:0;width:3px; height:45px; position:absolute; top:33.1%; left:6.6%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    .small-line3-4{z-index:0;width:3px; height:45px; position:absolute; top:47.9%; left:93.6%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    .info-line4{z-index:0;width:490px; height:221px; position:absolute; top:51.8%; left:3.45%; background: url('../images/infographic/line4.png') no-repeat; background-size: contain;background-position: -21px 0; transform: rotate(180deg);}
    .info-line4-1{z-index:0;width:490px; height:221px; position:absolute; top:56.83%; left:41.3%; background: url('../images/infographic/line4.png') no-repeat; background-size: contain; background-position: -110px 0;}
    .small-line4-1{z-index:0;width:3px; height:45px; position:absolute; top:66.1%; left:6.37%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    .small-line4-2{z-index:0;width:3px; height:45px; position:absolute; top:54%; left:93.6%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    .info-line5{z-index:0;width:627px; height:254px; position:absolute; top:75.5%; left:6.6%; background: url('../images/infographic/line5.png') no-repeat; background-size: contain;}
    .small-line5-1{z-index:0;width:3px; height:45px; position:absolute; top:72.9%; left:6.6%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    .small-line5-2{z-index:0;width:3px; height:45px; position:absolute; top:86.1%; left:93.3%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    .pasul1 {margin-left:30px;}
    //.info-line1, .info-line2, .info-line3, .info-line4, .info-line5 { display:none;}
    .content-pasul1{text-align: justify;}
    .pasul2 {text-align: justify;}
    .pasul3, .pasul5 {
      p { text-align: justify; }
      h2 {text-align: right;}
    }
    .step1, .step2, .step3, .step4 {margin-bottom: 80px;}
    #numbering-one{margin:11px auto 11px auto !important;height:60px; width:60px; border-radius:50%; background-color: $impact-orange; color:white; text-align: center; line-height: 60px; font-size:25px; font-weight: bold;}
    .numbering{height:60px; width:60px; margin:50px auto 11px auto; border-radius:50%; background-color: $impact-orange; color:white; text-align: center; line-height: 60px; font-size:25px; font-weight: bold;}
  }

}

@media (min-width: $screen-md-min)  {

    .section-info { background: url('../images/infographic/info-bg.jpg') repeat-y center center #F0F0F0;
    .info-wrap {position: relative;}

    .small-line1{z-index:5;width:3px; height:50px; position:absolute; top:10.3%; left:37%; background: url('../images/infographic/small-line.png')no-repeat; background-size:contain; }
    //.small-line1-1{z-index:5;width:3px; height:45px; position:absolute; top:13.7%; left:10.5%; background: url('../images/infographic/small-line.png')no-repeat; background-size:contain; }
    .info-line1{z-index:5;width:550px; height:300px; position:absolute; top:13.6%; left:37%; background: url('../images/infographic/line1.png') no-repeat; background-size:contain; }
    .info-line2{z-index:0;width:550px; height:112px; position:absolute; top:23.5%; left:3.2%; background: url('../images/infographic/line2.png') no-repeat; background-size:contain; }
    .info-line3{z-index:0;width:510px; height:221px; position:absolute; top:34.1%; left:0.7%; background: url('../images/infographic/line3.png') no-repeat; background-size:contain; background-position: -22px 0; transform: rotate(180deg); }
    .info-line3-1{z-index:0;width:510px; height:221px; position:absolute; top:37.4%; left:45%; background: url('../images/infographic/line3.png') no-repeat; background-size:contain; background-position: -22px 0;}
    .small-line3-2{z-index:0;width:3px; height:45px; position:absolute; top:35.4%; left:3.1%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    .small-line3-3{z-index:0;width:3px; height:45px; position:absolute; top:33.2%; left:3.1%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    .small-line3-4{z-index:0;width:3px; height:45px; position:absolute; top:48.3%; left:96.6%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    .info-line4{z-index:0;width:505px; height:221px; position:absolute; top:52.6%; left:0.7%; background: url('../images/infographic/line4.png') no-repeat; background-size: contain;background-position: -21px 0; transform: rotate(180deg);}
    .info-line4-1{z-index:0;width:510px; height:221px; position:absolute; top:57.6%; left:54.5%; background: url('../images/infographic/line4.png') no-repeat; background-size: contain; background-position: -110px 0;}
    .small-line4-1{z-index:0;width:3px; height:45px; position:absolute; top:67.5%; left:3%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    .small-line4-2{z-index:0;width:3px; height:45px; position:absolute; top:55.5%; left:96.7%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    .info-line5{z-index:0;width:890px; height:254px; position:absolute; top:75.5%; left:3.1%; background: url('../images/infographic/line5.png') no-repeat; background-size: contain;}
    // .small-line5-1{z-index:0;width:3px; height:45px; position:absolute; top:72.9%; left:6.6%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    // .small-line5-2{z-index:0;width:3px; height:45px; position:absolute; top:86.3%; left:93.4%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}




    // .info-line1{z-index:0;width:600px; height:221px; position:absolute; top:13%; left:37%; background: url('../images/infographic/line1.png') no-repeat; background-size:contain;}
    // .info-line2{z-index:0;width:600px; height:112px; position:absolute; top:22.39%; left:7.7%; background: url('../images/infographic/line2.png')no-repeat; background-size:contain;}
    // .info-line3{z-index:0;width:880px; height:221px; position:absolute; top:27%; left:7%; background: url('../images/infographic/line3.png') no-repeat; background-size:contain;}
    // .info-line4{z-index:0;width:880px; height:221px; position:absolute; top:45%; left:7.5%; background: url('../images/infographic/line4.png') no-repeat; background-size:contain;}
    // .info-line5{z-index:0;width:975px; height:254px; position:absolute; top:65.5%; left:7.3%; background: url('../images/infographic/line5.png') no-repeat; background-size:contain;}
    .pasul1 {margin-left:30px;}
    //.info-line1, .info-line2, .info-line3, .info-line4, .info-line5 { display:none;}
    .content-pasul1{text-align: justify;}
    .pasul2 {text-align: justify;}
    .pasul3, .pasul5 {
      p { text-align: justify; }
      h2 {text-align: right;}
    }
    .step1, .step2, .step3, .step4 {margin-bottom: 80px;}
     #numbering-one{margin:11px auto 11px auto !important;height:60px; width:60px; border-radius:50%; background-color: $impact-orange; color:white; text-align: center; line-height: 60px; font-size:25px; font-weight: bold;}
    .numbering{height:60px; width:60px; margin:50px auto 11px auto; border-radius:50%; background-color: $impact-orange; color:white; text-align: center; line-height: 60px; font-size:25px; font-weight: bold;}
  }

}

@media (min-width: $screen-lg-min)  {

    .section-info { background: url('../images/infographic/info-bg.jpg') repeat-y center center #F0F0F0;
    .info-wrap {position: relative;}

    // .small-line1{z-index:5;width:3px; height:50px; position:absolute; top:10.4%; left:37%; background: url('../images/infographic/small-line.png')no-repeat; background-size:contain; }
    // .small-line1-1{z-index:5;width:3px; height:45px; position:absolute; top:13.7%; left:10.5%; background: url('../images/infographic/small-line.png')no-repeat; background-size:contain; }
    // .info-line1{z-index:5;width:580px; height:300px; position:absolute; top:13.5%; left:37%; background: url('../images/infographic/line1.png') no-repeat; background-size:contain; }
    // .info-line2{z-index:0;width:580px; height:112px; position:absolute; top:23.8%; left:3.2%; background: url('../images/infographic/line2.png') no-repeat; background-size:contain; }
    // .info-line3{z-index:0;width:510px; height:221px; position:absolute; top:34.7%; left:0.7%; background: url('../images/infographic/line3.png') no-repeat; background-size:contain; background-position: -22px 0; transform: rotate(180deg); }
    // .info-line3-1{z-index:0;width:510px; height:221px; position:absolute; top:38%; left:45%; background: url('../images/infographic/line3.png') no-repeat; background-size:contain; background-position: -22px 0;}
    // .small-line3-2{z-index:0;width:3px; height:45px; position:absolute; top:36%; left:3.1%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    // .small-line3-3{z-index:0;width:3px; height:45px; position:absolute; top:33.8%; left:3.1%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    // .small-line3-4{z-index:0;width:3px; height:45px; position:absolute; top:48.9%; left:96.6%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    // .info-line4{z-index:0;width:505px; height:221px; position:absolute; top:53.2%; left:0.7%; background: url('../images/infographic/line4.png') no-repeat; background-size: contain;background-position: -21px 0; transform: rotate(180deg);}
    // .info-line4-1{z-index:0;width:510px; height:221px; position:absolute; top:58.2%; left:54.5%; background: url('../images/infographic/line4.png') no-repeat; background-size: contain; background-position: -110px 0;}
    // .small-line4-1{z-index:0;width:3px; height:45px; position:absolute; top:68.3%; left:3%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    // .small-line4-2{z-index:0;width:3px; height:45px; position:absolute; top:56.1%; left:96.7%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    // .info-line5{z-index:0;width:890px; height:254px; position:absolute; top:75.5%; left:3.1%; background: url('../images/infographic/line5.png') no-repeat; background-size: contain;}
    // .small-line5-1{z-index:0;width:3px; height:45px; position:absolute; top:72.9%; left:6.6%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}
    // .small-line5-2{z-index:0;width:3px; height:45px; position:absolute; top:86.3%; left:93.4%; background: url('../images/infographic/small-line.png') no-repeat; background-size:contain;}




    .info-line1{z-index:0;width:850px; height:221px; position:absolute; top:10.5%; left:37%; background: url('../images/infographic/line1.png') no-repeat; background-size:contain;}
    .info-line2{z-index:0;width:850px; height:112px; position:absolute; top:23.9%; left:3%; background: url('../images/infographic/line2.png')no-repeat; background-size:contain;}
    .info-line3{z-index:0;width:800px; height:255px; position:absolute; top:34.8%; left:-0.4%; background: url('../images/infographic/line3.png') no-repeat; background-size:cover; background-position: -55px 0; transform: rotate(180deg); }
    .info-line3-1{z-index:0;width:800px; height:266px; position:absolute; top:33.21%; left:69.7%; background: url('../images/infographic/line3.png') no-repeat; background-size:cover; background-position: -535px 0;}
    .info-line4{z-index:0;width:800px; height:200px; position:absolute; top:57.28%; left:-32.6%; background: url('../images/infographic/line4.png') no-repeat; background-size: cover;background-position: -400px 0; transform: rotate(180deg);}
    .info-line4-1{z-index:0;width:800px; height:200px; position:absolute; top:55.5%; left:37.2%; background: url('../images/infographic/line4.png') no-repeat; background-size: cover; background-position: -110px 0;}
    .info-line5{z-index:0;width:1078px; height:260px; position:absolute; top:74.2%; left:2.7%; background: url('../images/infographic/line5.png') no-repeat; background-size:cover;}
    .pasul1 {margin-left:30px;}
    //.info-line1, .info-line2, .info-line3, .info-line4, .info-line5 { display:none;}
    .content-pasul1{text-align: justify;}
    .pasul2 {text-align: justify;}
    .pasul3, .pasul5 {
      p { text-align: justify; }
      h2 {text-align: right;}
    }
    .step1, .step2, .step3, .step4 {margin-bottom: 80px;}
     #numbering-one{margin:11px auto 11px auto !important;height:60px; width:60px; border-radius:50%; background-color: $impact-orange; color:white; text-align: center; line-height: 60px; font-size:25px; font-weight: bold;}
    .numbering{height:60px; width:60px; margin:50px auto 11px auto; border-radius:50%; background-color: $impact-orange; color:white; text-align: center; line-height: 60px; font-size:25px; font-weight: bold;}
  }

}
// -------------------- Support de calitate page ----------------------------------------------

.page-id-67 .wrap {background:url('../images/support-bg.jpg') no-repeat; background-position: top right; background-size:auto 100%; background-attachment: scroll;}

.panel-bg-transparent {background-color:transparentize($gray-lighter, 0.3); }
  .panel-heading{
      h2{margin:5px 0; font-size:22px !important;}

    }

// --------------------- Intrebari Frecvente -------------------

.panel-group {
  .panel-title a {color:#666;}
  .panel-heading {padding: 8px 14px}
  .panel {background: #FDFCFC; margin-bottom: 15px;}
}

// --------------------- GAZDUIRE -------------------

.section-gazduire-web-top {padding:50px 0; background-color: $dark-bg; color:white;}

.pricing-area {
  h2,  span, p  { color: #fff; margin:0;}
  ul { background:transparent; padding: 0; margin: 0 auto;
    li { list-style: none; padding: 10px 0; font-size: 16px; font-weight: 400; text-shadow: none; background: #FFF;
      &:nth-child(even){ background:#f5f5f5 }
    }
  }
  .heading-one,.heading-two, .heading-three, .heading-four { padding:17px 0; border-radius:5px 5px 0 0; }
  .heading-one, .price-one .plan-action .btn-primary {background: #e24f43}
  .heading-two, .price-two .plan-action .btn-primary { background:#27AE60;}
  .heading-three, .price-three .plan-action .btn-primary { background: #f39c12;}
  .heading-four, .price-four .plan-action .btn-primary { background: $brand-primary; }
  .plan-action { height: 40px;
    .btn-primary { position: relative; padding:5px 20px; color: #fff; margin-top: 5px;
      &:before { border-color: #E24F43 transparent transparent; border-radius: 5px 0 0 0; border-style: solid; border-width: 12px; bottom: -12px; content: ""; height: 0; left: -9px; position: absolute; width: 0; z-index: -1; }
      &:after { border-color: #E24F43 transparent transparent; border-radius: 5px 0 0 0; border-style: solid; border-width: 12px; bottom: -12px; content: ""; height: 0; position: absolute; right: -9px; width: 0; z-index: -1; }
    }
  }
  .price-two {
    .btn-primary {
      &:before, &:after {
        border-color: #1f8c4d transparent transparent;
      }
    }
  }
  .price-three {
    .btn-primary {
      &:before, &:after {
        border-color: #d4880f transparent transparent
      }
    }
  }
  .price-four {
    .btn-primary {
      &:before, &:after {
        border-color: #424242 transparent transparent;
      }
    }
  }
}
.plan { position: relative; margin-bottom:30px;}

@media (max-width: $screen-xs-max) {
.pricing-area {
   ul { background:transparent; width:70%; padding: 0; display: block; margin: 0 auto; }
    
  }
}

//------------------------ Identitate viazuala ---------------------------------------------------
.page-id-22 {
  .post-thumb {position: relative;}
  .post-icon {position: absolute;top:10px;right:10px;height: 30px;width: 30px;line-height: 30px;border-radius:4px;text-align: center;color: #fff;font-size: 12px;}
  .post-meta {position: absolute;bottom: 15px;left: 15px;color: #fff;font-size: 12px;text-transform: uppercase;font-weight: 600;}
  .post-meta span {margin-right: 16px;}
  #post-carousel .carousel-indicators {bottom: 3px;left: 90%;}
  .blog-left-control, .blog-right-control {position: absolute;top: 45%;width: 30px;text-align: center;color: rgba(255,255,255,.7);font-size: 36px;}
  .blog-left-control {left: 0;}
  .blog-right-control {right: 0;}
  .blog-left-control:hover, .blog-right-control:hover {color: #fff;  }
  .entry-header h3 a {line-height: 30px;}
  .entry-header .date, 
  .entry-header .cetagory {display: inline-block;font-size: 11px;font-weight: 600;margin-bottom: 0;text-transform: uppercase;position: relative;}
  .entry-header .date:after {content: "";position: absolute;left: 0;bottom:-22px;width: 20px;height: 3px;}
  .entry-content {font-size: 14px;margin-top:0;}
  .load-more {display:block;text-align: center;margin-top: 70px;}
  .btn-loadmore {border: 1px solid #f2f2f2;color: #666666;font-size: 14px;font-weight: 600;padding: 15px 125px;text-transform: uppercase;}
  .btn-loadmore:hover {color:#fff;}
}
// --------------------------------- Creare website de prezentare -----------------------------------

.creare-website-prezentare-sec { background-color: lighten($dark-bg, 8%) !important;
  //.website-prezentare-text {padding:2% 8% 2% 8%; text-align: justify; }
  .heading-creare-website{display: inline-block;
    &:before {content:"\f0ad"; font-family: FontAwesome; font-size: 2ff8px; color:$impact-orange; margin-right:15px; }
    }
  p {color:white;}
}
.avantaje {
  &:before {content:"\f080" !important; }
}
.creare-perks{ text-align: center; margin-bottom: 50px; 
  &:before { display:block; width:20%; font-family: FontAwesome; font-size: 28px; color:$impact-orange; margin:0 auto 0 auto; padding:10px;}
}
.design {
  &:before {content:"\f044";}
}
.responsive {
  &:before {content:"\f108";}
}
.formular {
  &:before {content:"\f041";}
}
.pagini {
  &:before {content:"\f016";}
}
.blog {
  &:before {content:"\f0f6";}
}
.galerie {
  &:before {content:"\f03e";}
}
.gazduire {
  &:before {content:"\f0a0";}
}
.seo {
  &:before {content:"\f00e";}
}
.securitate {
  &:before {content:"\f132";}
}

@media (max-width:$screen-md-max) {
  .creare-website-prezentare-sec {
    .heading-creare-website{font-size:18px; }
    .website-prezentare-text{font-size:14px; padding:3% 8% !important;}
 }

}

@media (min-width:$screen-lg-min) {
  .creare-website-prezentare-sec { background-color: lighten($dark-bg, 8%) !important;
  .website-prezentare-text {padding:3% 8% 3% 8%; text-align: justify; font-size:17px; }
  .heading-creare-website{display: inline; font-size:25px;
    &:before {content:"\f0ad"; font-family: FontAwesome; font-size: 2ff8px; color:$impact-orange; margin-right:15px; }
    }
  p {color:white;}
}

}
// ----------------------------- Creare magazin online page ------------------------------
.section-magazin-online {background-color:lighten($dark-bg, 8%); color:white; margin-bottom:40px; font-size:20px;}
.magazin-online-intro-text {text-align: left; 
  
 }
.inner-wrap-magazin {padding:0 8%;}
.thumbnail{ transition: all .2s linear;
  ul{padding-left:0;}
  li{color:black;} 
  h3{margin:0;}
  &:hover {-webkit-box-shadow: 10px 10px 20px 6px rgba(219,219,219,1); -moz-box-shadow: 10px 10px 20px 6px rgba(219,219,219,1); box-shadow: 10px 10px 20px 6px rgba(219,219,219,1);} }
.caption {
  ul {font-size:14px; color:$impact-text;
    li {list-style-type: none;
      &:before {content:"\f00c"; font-family:FontAwesome; display:inline; margin-right:10px; color:$impact-orange;}
    }
  }
}

// ----------------------------- Nume domeniu page ------------------------------

.nume-domeniu-section{background-color: #f5f5f5; text-align: center;
  .nume-domeniu-heading{
      &:before {content: "\f20e"; font-family:FontAwesome; margin-right:10px;}
  }
}

// ----------------------------- Optimizare SEO ----------------------------------
.optimizare-intro {background-color:#f5f5f5;
  h2{margin:0;}
}
.section-optimizare { padding:30px 0;
  h2{margin:0;}
  .seo-text {
    &:first-child {text-align:left;}
  }
}

@media (max-width:$screen-sm-max) {
  .optimizare-intro {
    h2{font-size:22px;}

  }
  .seo-text{
    h2{font-size:22px;}
    p{font-size:13px;}
  }

}

@media (min-width: $screen-lg-min) {
  .seo-text {
    &:first-child {text-align:right;}
  }
}