// Most of the style for the portfolio items comes from home.scss (recent works section)

// Filter buttons styles
.butoane-wrap{ margin-bottom:25px;}

// Portofoliu styles
.portofoliu-img {margin-bottom:30px;}

// Single Portfolio
.single-portofoliu-img {margin:30px 0px 0px -15px; padding:0px;}
.item-types {position:absolute; bottom:15px; left:15px; padding:4px;}
.item-types-li {display:inline; background-color:$impact-orange; color:white; padding:2px 15px; margin:10px 5px; font-size:12px; border-radius:4px;}
.s2 { width: 100%; padding-top: 50px; padding-bottom: 50px; margin-bottom:30px; }
.slide2 { background-position: center; background-size: cover; width: 300px; }
.gallery { position: relative; }
.single-gallery { margin-bottom:30px; transition:all .1s linear; border-radius:2px; }
.single-gallery:hover { -webkit-box-shadow: 0 6px 16px -4px rgba(0,0,0,0.75); -moz-box-shadow: 0 6px 16px -4px rgba(0,0,0,0.75); box-shadow: 0 6px 16px -4px rgba(0,0,0,0.75); }
.entry-content{ margin-top:30px; padding-top:10px; }
.overlay { position: absolute; width:100%; height:100%; background-color: $iot; }