.post-wrapper {margin-top:22px;}
.thumbnail {background-color:white; padding:0 0 5px 0;}
.is-checked {
	//background-color:$impact-orange;
}

//pagination styles
.pages {padding-left:15px;} 
.pagination {margin:0 0 35px 0}
.pagination > li > a:hover{background-color:$impact-text;}
.current {background-color:$impact-text !important;}


//Entry content

//.entry-content-wrapper { position: absolute; top: 0; left: -60%; width: 40%; height: 15%; overflow: hidden; background: $iot; color: #fff; vertical-align: middle; -webkit-transition: opacity 500ms; -moz-transition: opacity 500ms; -o-transition: opacity 500ms; transition: all 500ms; padding: 10px; border-radius:3px; }
//.thumbnail:hover {
//	.entry-content-wrapper{left:0;}
//}