

// Blog sidebar styles
.sidebar {
  .project-type {margin:5px 0;}
  > ul {list-style-type: none; margin:0; padding: 0;
	> li {margin:10px 0; padding:0;}
  }
  .tagcloud {padding-left:10px;
	> a {color:$impact-text;}
  }

}

.cat-item {display:inline-block;}  
.cat-item > a {color:$impact-text;}
.cat-item > a:hover {color:$impact-orange;}
