a, a:focus, a:active, a:hover, button {outline: none !important; text-decoration: none;}
img {-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }
.main { overflow: hidden;}

section.wrap {background: #FFF;}
.section-padding{padding:50px 0;}
.margin-bottom {margin-bottom: 50px;}
.margin-top {margin-top:22px;}
body#tinymce {
  background: #FFF !important;
}
// global font style and color;
body {background-color: white;}
h1,h2,h3,h4,h5,h6 {color:$impact-orange; font-family: $font-teko;}


// Style classes
.center-content{margin-left:auto; margin-right:auto;}
.impact-orange {color:$impact-orange !important;}
.no-padding {padding-left: 0; padding-right: 0}
.no-padding-left {padding-left: 0;}
.no-padding-right {padding-right: 0;}
.no-padding-all {padding:0;}
.dark-bg {background-color: $dark-bg;}
hr{background-color:$impact-orange; border-top:1px solid $impact-orange;}

// Widget styles

.widget a{color:$impact-text; }
.widget a:hover {color:$impact-orange;}



//Scrollbar 

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: lighten($dark-bg ,10%);
  outline: 1px solid slategrey;
}

.map-container { position: relative; padding-bottom: 41.25%; height: 0; overflow: hidden; }
.map-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
